#
# WARNING: it is CRITICAL that this file & directory are NOT accessible directly via a web browser!
# https://nette.org/security-warning
#
parameters:

application:
	errorPresenter: Error
	mapping:
		*: App\*Module\Presenters\*Presenter


session:
	expiration: 14 days


database:
	dsn: 'mysql:host=wm123.wedos.net;dbname=d135535_doupe'
	user: w135535_doupe
	password: SaL2CvC2
	options:
		lazy: yes


services:
	- App\Model\UserManager
	- App\Forms\FormFactory
	router: App\RouterFactory::createRouter
